.header_container{
    height: 90px;
    background-color: rgb(0,7,61);
    font-family: 'Lobster', cursive;

}
.header_container h1{
    text-align: center;
    font-size: 47px;
    color:white;
}

.header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #77002e;
    padding: 0 10%;
}

.header_container ul {
    list-style: none;
    margin: -15px 15px 15px 0;
    /*padding: 0;*/
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.header_container li {
    margin-left: 1rem;
    color:white;
}

.header_container img{
    height: 25px;
    width: 25px;
}

.header_container li:hover {
    font-style: italic;
    color: steelblue;
}