
.app_title{
    text-align: center;
    font-size: 47px;
    color:black;
}

.header_icon  {
    list-style: none;
    z-index: 50;
    text-align: end;
    margin-top: -30px;
    margin-right: 20px;
    margin-left: 20px;

}


