.detail_modal {
    position: fixed;
    top: 30vh;
    left: calc(55% - 40%);
    width: 70%;
    background: #9f9a9a;
    box-shadow: 0 2px 8px rgba(64, 52, 52, 0.26);
    z-index: 50;
    border-radius: 7px;
}
.detail_modal h4{
    margin: 0;
    padding: 8px;
    background: rgb(188, 172, 160);
    height: 28px;
    color: black;
    border-radius: 7px 7px 0 0;
}

.detail_modal textarea{
    padding: 1rem;
    width: 70%;
    height: 100px;
    background-color: #9f9a9a;
    border-style: none;

}

.detail_modal__actions {
    display: flex;
    justify-content: flex-end;
    padding: 0 0.5rem;

}

.detail_modal__actions button{
    margin-bottom: 5px;
}
.detail_modal__actions button:hover{
    color: #e2b550;
    font-style: italic;
    font-weight: bold;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /*background: rgba(0, 0, 0, 0.75);*/
    z-index: 50;
}
