.content{
    font-size: 14px;
}
.content li{
    padding-top: 5px;
}

.content li:hover{
    color: #b3abaf;
    font-weight: bold;

}
.span{
    white-space: nowrap;
    font-size: 11px;
    color: #6b798a;
}