* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #f1f8f8;
}

h1 {
  font-size: 2.5rem;
  color: #2c292b;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}

.invalid input, .invalid textarea {
  border: 1px solid #b40e0e;
  /*background-color: #f63232;*/
}

.invalid input:focus {
  border-color: #ffaa00;
  background-color: #eae4e5;
}

.error-text {
  color: #b40e0e;
}

.main_container_US{
  display: flex;
  background-image: url("../public/body_US.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main_container_JP{
  display: flex;
  background-image: url("../public/body_JP.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sidebar_US{
  /*background: rgb(0,7,61);*/
  color:black;
  height: 110vh;
  background-image: url("../public/side_US.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sidebar_JP{
  /*background: rgb(0,7,61);*/
  color:black;
  height: 110vh;
  /*background-image: url("../public/side_JP.png");*/
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(229, 220, 225);
  background-color: #eeeaeb; /* For browsers that do not support gradients */
  background-image: linear-gradient(#e5ddde,#f6f2f3);
}

.header_container_US{
  height: 80px;
  /*background-color: rgb(0,7,61);*/
  font-family: 'Lobster', cursive;
  background-image: url("../public/head_US.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.header_container_JP{
  height: 80px;
  /*background-color: rgb(0,7,61);*/
  font-family: 'Lobster', cursive;
  /*background-image: url("../public/head_JP.png");*/
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(229, 220, 225);
  background-color: #eeeaeb; /* For browsers that do not support gradients */
  background-image: linear-gradient(#decfd1, #f1eced);
}