* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #f1f8f8;
}

h1 {
  font-size: 2.5rem;
  color: #2c292b;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}

.invalid input, .invalid textarea {
  border: 1px solid #b40e0e;
  /*background-color: #f63232;*/
}

.invalid input:focus {
  border-color: #ffaa00;
  background-color: #eae4e5;
}

.error-text {
  color: #b40e0e;
}