.content{
    padding-left: 1%;
    white-space: nowrap;
    font-size: 13px;
}
.content ul{
    padding-top: 15px;
    padding-left: 11px;
}

.content li{
    padding-bottom: 15px;
}
.content span {
    white-space: nowrap;
    font-size: 11px;
    color: #6e6a6a;
}